.cover
  background-image url("../img/backgrounds/background-one.png")
  background-position top -150px right
  background-repeat no-repeat
  background-size cover
  height 652px
  padding 150px 0 0 127px
  position relative

  &-cards
    position absolute
    left 435px
    top 186px

    &-content
      display flex
      flex-direction row
      position relative

  &-card
    &-shopify,
    &-contact
      align-items center
      background-color $mWhite
      box-shadow 0 31px 45px 0 rgba(87, 87, 87, 0.17)
      display flex
      flex-direction column
      justify-content center

      &:after
        content ""
        background-image linear-gradient(to bottom, #1a576f, #3177a2)
        border-radius 100px
        bottom 0
        height 4px
        width 90px

    &-shopify
      height 242px
      left 300px
      margin 126px 52px 0 0
      width 217px

      &-logo
        height 22px
        width 128px

      &-text
        &-container
          margin 10px 0
          max-width 136px
          text-align center

      &-laptop
        height 69px
        width 54px

    &-decorator
      background-image linear-gradient(to bottom, #1a576f, #3177a2)
      height 4px
      border-radius 100px
      position absolute
      width 90px

    &-contact
      height 198px
      transition 0.3s
      width 196px

      &-separator
        background-color $mGrayLight
        height 1px
        margin 15px 0
        opacity 0.4
        width 163px

      &-phone
        margin 0 0 20px 0

      &-info
        &-container
          align-items center
          display flex
          flex-direction row

      &-icon
        &-container
          margin-right 15px

        &-phone
          height 13px
          width 13px

        &-mail
          height 8px
          width 13px

  &-title
    &-container
      margin-bottom 30px
      max-width 430px

.card-contact-scroll
  position fixed
  right 20px
  top 150px
  transition 0.3s
  z-index 1

.benefits
  align-items center
  background-image url("../img/backgrounds/background-two.png")
  background-position left
  background-repeat no-repeat
  background-size 341px auto
  display flex
  flex-direction column
  padding 80px 0 140px 0

  &-cards
    &-container
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-top 60px
      width 760px

    &-content
      align-items center
      background-color $mWhite
      box-shadow 0 14px 26px 0 rgba(0, 0, 0, 0.1)
      display flex
      flex-direction column
      height 157px
      justify-content center
      width 196px

      &:nth-child(-n + 3)
        margin-bottom 76px

    &-payment
      height 55px
      width 59px

    &-facebook
      height 59px
      width 61px

    &-coupon
      height 58px
      width 60px

    &-responsive
      height 55px
      width 57px

    &-statiscal
      height 55px
      width 57px

    &-catalogue
      height 58px
      width 60px

    &-title
      &-container
        margin-top 12px

.begins
  margin 0 auto 95px auto
  width 760px

  &-title
    &-container
      display flex
      max-width 660px
      position relative

      &:before,
      &:after
        content ""
        background-position center
        background-repeat no-repeat
        background-size contain
        display block
        height 64px
        position absolute
        width 91px

      &:before
        background-image url("../img/utilities/quotation-mark-left.png")
        left -95px
        top -40px

      &:after
        background-image url("../img/utilities/quotation-mark-right.png")
        bottom -18px
        right 195px

  &-button
    &-container
      display flex
      justify-content center
      margin-top 75px

.ourwork
  background-image url("../img/backgrounds/background-three.png")
  background-position right
  background-repeat no-repeat
  background-size 350px

  &-content
    background-color $mWhite
    box-shadow 0 31px 45px 0 rgba(0, 0, 0, 0.13)
    margin 0 auto
    padding 45px 0 49px 0
    width 844px

  &-texts
    &-container
      margin-bottom 30px
      text-align center

  &-card
    align-items center
    background-position center
    background-repeat no-repeat
    background-size cover
    cursor pointer
    display flex
    height 249px
    justify-content center
    position relative
    width 257px

    &-container
      display flex
      flex-direction column
      height 536px
      justify-content space-between

    img
      z-index 1

    &-hover
      bottom 0
      left 0
      opacity 0
      position absolute
      right 0
      top 0
      transition 0.3s

    &:hover .ourwork-card-hover
      background-color $mBlue
      opacity 0.8
      transition 0.3s

    &-logo
      &-akai
        height 34px
        width 85px !important

      &-little-me
        height 30px
        width 104px !important

      &-dream-water
        height 44px
        width 79px !important

      &-vre
        height 80px
        width 72px !important

      &-aromaria
        height 41px
        width 141px !important

      &-coral
        height 65px
        width 64px !important

      &-fortia
        height 34px
        width 115px !important

      &-loretta
        height 16px
        width 148px !important

      &-pacer
        height 35px
        width 98px !important

      &-jb
        height 90px
        width 79px !important

      &-amate
        height 65px
        width 94px !important

  &-navigation
    &-controls
      margin-top 49px
      text-align center

    &-arrows
      height 12px
      width 23px

.owl-prev
  margin-right 18px

.card
  &-akai
    background-image url("../img/utilities/card-akai.jpg")

  &-little-me
    background-image url("../img/utilities/card-little-me.jpg")

  &-dream-water
    background-image url("../img/utilities/card-dream-water.jpg")

  &-vre
    background-image url("../img/utilities/card-vre.jpg")

  &-aromaria
    background-image url("../img/utilities/card-aromaria.jpg")

  &-coral
    background-image url("../img/utilities/card-coral.jpg")

  &-fortia
    background-image url("../img/utilities/card-fortia.jpg")

  &-loretta
    background-image url("../img/utilities/card-loretta.jpg")

  &-pacer
    background-image url("../img/utilities/card-pacer.jpg")

  &-jb
    background-image url("../img/utilities/card-jb.jpg")

  &-amate
    background-image url("../img/utilities/card-amate.jpg")

.contact
  background-image url("../img/backgrounds/background-four.png")
  background-position left 90px
  background-repeat no-repeat
  background-size 59px

  &-content
    display flex
    flex-direction row
    margin 140px auto 85px auto
    padding-left 35px
    width 844px

  &-subtitle
    &-container
      margin 18px 0 70px 0
      max-width 325px

  &-form
    &-content
      display flex
      flex-direction column
      margin-bottom 53px
      position relative

    &-input
      border-bottom solid 1px $mGrayLight
      border-left none
      border-right none
      border-top none
      padding-top 10px
      width 359px

      & ~ .focus-border
        bottom 0
        height 2px
        left 0
        position absolute
        width 100%
        z-index 99

      & ~ .focus-border:before,
      & ~ .focus-border:after
        content ""
        background-color $mBlue
        bottom 0
        left 0
        height 100%
        position absolute
        width 0
        transition 0.4s

      & ~ .focus-border:after
        left auto
        right 0

      &:focus ~ .focus-border:before,
      &:focus ~ .focus-border:after
        transition 0.4s
        width 50%

  &-img
    height 259px
    width 362px

    &-container
      box-shadow 0 28px 41px 0 rgba(0, 0, 0, 0.17)
      height 259px
      margin-left 90px
      width 362px

.generic-button
  background-color $mBlue
  border none
  cursor pointer
  height 45px
  padding 0 36px
  transition 0.3s

  &:hover
    background-color #1b4966
    transition 0.3s
