{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div>
  <div class="cover" id="cover">
    <div class="cover-container">
      <div class="cover-title-container">
        <h1 class="fs-mega metropolis-medium">Vende en línea, nosotros hacemos tu tienda</h1>
      </div>
      <a href="#contact" class="go-section">
        <button class="generic-button fs-h4 metropolis-semibold">Contactar</button>
      </a>
      <div class="cover-card-shopify cover-card-desktop">
        <img class="cover-card-shopify-logo" src="img/logos/logo-shopify-experts.png" alt="Shopify experts logo">
        <div class="cover-card-shopify-text-container">
          <p class="$mGrayLight fs-milli metropolis-medium">
            Esperamos ver tu proyecto en nuestro portafolio muy pronto
          </p>
        </div>
        <img class="cover-card-shopify-laptop" src="img/icons/shopify-laptop.png" alt="Laptop image">
      </div>
      <div class="cover-card-contact cover-card-desktop" id="contact-card">
        <h4 class="fs-h1 athelas-bold">Contacto</h4>
        <div class="cover-card-contact-separator"></div>
        <div>
          <div class="cover-card-contact-info-container">
            <div class="cover-card-contact-icon-container">
              <img class="cover-card-contact-icon-phone" src="img/icons/icon-phone.png" alt="Phone icon">
            </div>
            <div class="cover-card-contact-phone">
              <span class="fs-h6 metropolis-medium">55 4094 0404</span><br>
              <span class="fs-h5 metropolis-regular">Lun - Vie: 8:00 - 20:00</span>
            </div>
          </div>
          <div class="cover-card-contact-info-container">
            <div class="cover-card-contact-icon-container">
              <img class="cover-card-contact-icon-mail" src="img/icons/icon-mail.png" alt="Phone icon">
            </div>
            <div>
              <span class="fs-h6 metropolis-medium">Correo</span><br>
              <span class="fs-h5 metropolis-regular">hola@getmore.mx</span>
            </div>
          </div>
        </div>
      </div>
      <div class="cover-cards-carousel-container">
        <div class="cover-cards-carousel owl-carousel">
          <div class="cover-card-shopify">
            <img class="cover-card-shopify-logo" src="img/logos/logo-shopify-experts.png" alt="Shopify experts logo">
            <div class="cover-card-shopify-text-container">
              <p class="$mGrayLight fs-milli metropolis-medium ">
                Esperamos ver tu proyecto en nuestro portafolio muy pronto
              </p>
            </div>
            <img class="cover-card-shopify-laptop" src="img/icons/shopify-laptop.png" alt="Laptop image">
          </div>
          <div class="cover-card-contact">
            <h4 class="fs-h1 athelas-bold">Contacto</h4>
            <div class="cover-card-contact-separator"></div>
            <div>
              <div class="cover-card-contact-info-container">
                <div class="cover-card-contact-icon-container">
                  <img class="cover-card-contact-icon-phone" src="img/icons/icon-phone.png" alt="Phone icon">
                </div>
                <div class="cover-card-contact-phone">
                  <span class="fs-h6 metropolis-medium">55 4094 0404</span><br>
                  <span class="fs-h5 metropolis-regular">Lun - Vie: 8:00 - 20:00</span>
                </div>
              </div>
              <div class="cover-card-contact-info-container">
                <div class="cover-card-contact-icon-container">
                  <img class="cover-card-contact-icon-mail" src="img/icons/icon-mail.png" alt="Phone icon">
                </div>
                <div>
                  <span class="fs-h6 metropolis-medium">Correo</span><br>
                  <span class="fs-h5 metropolis-regular">hola@getmore.mx</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="benefits" id="benefits">
    <div class="benefits-subtitle-container">
      <h3 class="fs-h3-gray athelas-bold">aprovecha todo lo que tenemos para ti</h3>
    </div>
    <h2 class="fs-kilo metropolis-medium">Beneficios</h2>
    <div class="benefits-cards-container">
      <div class="benefits-cards-content">
        <img class="benefits-cards-payment" src="img/icons/benefit-payment.png">
        <div class="benefits-cards-title-container">
          <span class="fs-h3 metropolis-medium">Pagos en línea</span>
        </div>
      </div>
      <div class="benefits-cards-content">
        <img class="benefits-cards-facebook" src="img/icons/benefit-facebook.png">
        <div class="benefits-cards-title-container">
          <span class="fs-h3 metropolis-medium">Venta en Facebook</span>
        </div>
      </div>
      <div class="benefits-cards-content">
        <img class="benefits-cards-coupon" src="img/icons/benefit-coupon.png">
        <div class="benefits-cards-title-container">
          <span class="fs-h3 metropolis-medium">Cupones<br>de descuento</span>
        </div>
      </div>
      <div class="benefits-cards-content">
        <img class="benefits-cards-responsive" src="img/icons/benefit-responsive.png">
        <div class="benefits-cards-title-container">
          <span class="fs-h3 metropolis-medium">Diseño responsivo<br>(Móviles y tablets)</span>
        </div>
      </div>
      <div class="benefits-cards-content">
        <img class="benefits-cards-statiscal" src="img/icons/benefit-statiscal.png">
        <div class="benefits-cards-title-container">
          <span class="fs-h3 metropolis-medium">Reportes y<br>estadísticos</span>
        </div>
      </div>
      <div class="benefits-cards-content">
        <img class="benefits-cards-catalogue" src="img/icons/benefit-catalogue.png">
        <div class="benefits-cards-title-container">
          <span class="fs-h3 metropolis-medium">Catálogo de<br>productos</span>
        </div>
      </div>
    </div>
  </div>

  <div class="begins">
    <div class="begins-title-container">
      <h2 class="fs-giga metropolis-regular">Comienza a vender hoy mismo</h2>
    </div>
    <div class="begins-button-container">
      <a href="#contact" class="go-section">
        <button class="generic-button fs-h4 metropolis-semibold">Contáctanos</button>
      </a>
    </div>
  </div>

  <div class="ourwork" id="our-work">
    <div class="ourwork-content">
      <div class="ourwork-texts-container">
        <div class="ourwork-subtitle-container">
          <h3 class="fs-h3-gray athelas-bold">algunos de nuestros clientes</h3>
        </div>
        <h2 class="fs-kilo metropolis-medium">Nuestro trabajo</h2>
      </div>
      <div class="ourwork-carousel owl-carousel">
        <div class="ourwork-card-container">
          <a class="ourwork-card card-akai" href="http://akaiswimwear.com" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-akai" src="img/logos/logo-akai.png">
          </a>
          <a class="ourwork-card card-vre" href="http://cotiza.vre.com.mx" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-vre" src="img/logos/logo-vre.png">
          </a>

        </div>
        <div class="ourwork-card-container">
          <a class="ourwork-card card-little-me" href="http://littleme.mx" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-little-me" src="img/logos/logo-little-me.png">
          </a>
          <a class="ourwork-card card-aromaria" href="http://aromaria.mx" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-aromaria" src="img/logos/logo-aromaria.png">
          </a>

        </div>
        <div class="ourwork-card-container">
          <a class="ourwork-card card-dream-water" href="http://drinkdreamwater.com" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-dream-water" src="img/logos/logo-dream-water.png">
          </a>
          <a class="ourwork-card card-coral" href="http://coralbeachglam.com" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-coral" src="img/logos/logo-coral.png">
          </a>

        </div>
        <div class="ourwork-card-container">
          <a class="ourwork-card card-fortia" href="http://fortia.me" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-fortia" src="img/logos/logo-fortia.png">
          </a>
          <a class="ourwork-card card-jb" href="http://jbaccesorios.com" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-jb" src="img/logos/logo-jb.png">
          </a>
        </div>
        <div class="ourwork-card-container">
          <a class="ourwork-card card-loretta" href="http://wearloretta.com" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-loretta" src="img/logos/logo-loretta.png">
          </a>
          <a class="ourwork-card card-amate" href="http://amatecamp.com" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-amate" src="img/logos/logo-amate.png">
          </a>
        </div>
        <div class="ourwork-card-container">
          <a class="ourwork-card card-pacer" href="http://pacer.mx" target="_blank">
            <div class="ourwork-card-hover"></div>
            <img class="ourwork-card-logo-pacer" src="img/logos/logo-pacer.png">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="contact" id="contact">
    <div class="contact-content">
      <div>
        <h3 class="fs-h3-gray athelas-bold">escríbenos</h3>
        <div class="contact-subtitle-container">
          <h2 class="mb-50 fs-kilo metropolis-medium">¿Qué esperas para tener tu propia tienda en línea?</h2>
          <p class="info mb-8 gray athelas-bold">hola@getmore.mx</p>
          <p class="info gray athelas-bold">55 4094 0404</p>
        </div>
        <form name="more-landing-form" method="post" action="http://integrations.blick.mx/morelanding/contact/">
          <div class="contact-form-content">
            <label class="fs-h2 metropolis-regular" for="name">Nombre</label>
            <input class="contact-form-input fs-h2 metropolis-regular" type="text" name="name" id="name" required>
            <span class="focus-border"></span>
          </div>
          <div class="contact-form-content">
            <label class="fs-h2 metropolis-regular" for="phone">Teléfono (Opcional)</label>
            <input class="contact-form-input fs-h2 metropolis-regular" type="tel" name="phone" id="phone">
            <span class="focus-border"></span>
          </div>
          <div class="contact-form-content">
            <label class="fs-h2 metropolis-regular" for="email">Correo electrónico</label>
            <input class="contact-form-input fs-h2 metropolis-regular" type="email" name="email" id="email" required>
            <span class="focus-border"></span>
          </div>
          <div class="contact-form-content">
            <label class="fs-h2 metropolis-regular" for="message">Mensaje (Opcional)</label>
            <textarea rows="1" class="contact-form-input fs-h2 metropolis-regular" type="text" name="message" id="message"></textarea>
            <span class="focus-border"></span>
          </div>
          <button class="generic-button fs-h4 metropolis-semibold" type="submit">Enviar</button>
        </form>
      </div>
      <div class="contact-img-container">
        <img class="contact-img" src="img/utilities/img-office.jpg">
      </div>
    </div>
  </div>
</div>
{% endblock %}
