<footer class="footer">
  <a id="logo-top" href="#cover" class="go-section">
    <img class="footer-logo" src="img/logos/logo-more.png">
  </a>
  <div class="footer-links-container">
    <div class="footer-links-content">
      <a href="http://getmore.mx/">
        <span class="fs-h4-footer metropolis-regular">Home</span>
      </a>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-links-content">
      <a href="http://getmore.mx/portfolio.html">
        <span class="fs-h4-footer metropolis-regular">Portfolio</span>
      </a>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-links-content">
      <a href="http://getmore.mx/services.html">
        <span class="fs-h4-footer metropolis-regular">Services</span>
      </a>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-links-content">
      <a href="http://getmore.mx/careers.html">
        <span class="fs-h4-footer metropolis-regular">Careers</span>
      </a>
    </div>
    <div class="footer-separator"></div>
    {# <div class="footer-links-content">
      <a href="http://getmore.mx/team.html">
        <span class="fs-h4-footer metropolis-regular">Team</span>
      </a>
    </div> #}
    <div class="footer-links-content">
      <a href="http://getmore.mx/referrals.html">
        <span class="fs-h4-footer metropolis-regular">Referrals program</span>
      </a>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-links-content">
      <a href="http://getmore.mx/quote.html">
        <span class="fs-h4-footer metropolis-regular">Quote</span>
      </a>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-links-content">
      <a href="http://getmore.mx/contact.html">
        <span class="fs-h4-footer metropolis-regular">Contact</span>
      </a>
    </div>
  </div>
  <div class="footer-email-container">
    <a href="mailto:hola@getmore.mx">
      <span class="fs-h3-footer metropolis-regular">hola@getmore.mx</span>
    </a>
  </div>
  <div>
    <span class="fs-h6-footer metropolis-regular">© 2018, More Co. </span>
  </div>
</footer>
