<nav class="navbar">
  <div class="header-logo">
    <img class="navbar-logo" src="img/logos/logo-more.png" alt="Logo of More">
    <span class="whatsapp-msj">
      <a href="https://api.whatsapp.com/send?phone=525540940404">
        <img src="img/icons/whatsapp.png" alt="whatsapp">
      </a>
    </span>
  </div>
  <div class="navbar-links-container">
    <div class="navbar-links-content">
      <a href="#benefits" class="go-section">
        <span class="fs-h5 metropolis-medium">Beneficios</span>
      </a>
    </div>
    <div class="navbar-links-content">
      <a href="#our-work" class="go-section">
        <span class="fs-h5 metropolis-medium">Nuestro trabajo</span>
      </a>
    </div>
    <div class="navbar-links-content">
      <a href="#contact" class="go-section">
        <span class="fs-h5 metropolis-medium">Contacto</span>
      </a>
    </div>
  </div>
</nav>
