.footer
  align-items center
  background-image url("../img/backgrounds/background-footer.png")
  background-position center
  background-repeat no-repeat
  background-size cover
  bottom 0
  display flex
  flex-direction column
  height 327px
  justify-content center
  position absolute
  width 100%

  &-logo
    height 35px
    width 142px

  &-links
    &-container
      align-items center
      display flex
      flex-direction row
      margin 37px 0 26px 0

    &-content
      span
        transition 0.3s

      &:hover span
        color $mBlueLight
        font-weight $bold
        transition 0.3s

  &-separator
    background-color $mBlue
    height 12px
    margin 0 12px
    opacity 0.7
    width 1px

  &-email
    &-container
      margin-bottom 28px

@media screen and (max-width 768px)
  .footer
    &-links
      &-container
        flex-wrap wrap
        height 55px
        justify-content center
        max-width 330px

    &-separator
      &:nth-child(10)
        display none
