.navbar
  align-items center
  background transparent
  display flex
  height 97px
  justify-content space-between
  left 0
  padding 0 127px
  position fixed
  top 0
  width 100%
  z-index 12

  &-logo
    height 29px
    width 117px


  &-links
    &-container
      display flex
      flex-direction row

    &-content
      margin-left 35px

  &-scroll
    background-color $mWhite
    box-shadow 0 6px 8px 0 rgba(0,0,0,.2)
