.whatsapp-msj
  display none
.navbar
  align-items center
  background transparent
  display flex
  height 97px
  justify-content space-between
  left 0
  padding 0 127px
  position fixed
  top 0
  width 100%
  z-index 12

  &-logo
    height 29px
    width 117px


  &-links
    &-container
      display flex
      flex-direction row

    &-content
      margin-left 35px
      a:hover
        span
          color $mBlueLight
  &-scroll
    background-color $mWhite
    box-shadow 0 6px 8px 0 rgba(0,0,0,.2)

@media screen and (max-width 696px)
  .header-logo
    position relative
    width 100%
  .whatsapp-msj
    display block
    position absolute
    bottom: 0;
    top: 0;
    right: 10%;
    img
      width 30px
  .navbar
    flex-direction column
    justify-content center
    padding 0 20px

    &-logo
      height 24px
      width 100px
      margin: 0 auto;
      display: block;

    &-links
      &-container
        margin-top 15px

      &-content
        margin-left 0

        &:nth-child(2)
          margin 0 20px
