@font-face
  font-family 'Athelas'
  src url('../fonts/Athelas-Bold.woff') format('woff')
  font-weight $bold
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Medium.woff') format('woff')
  font-weight $medium
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Regular.woff') format('woff')
  font-weight $regular
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-SemiBold.woff') format('woff')
  font-weight $semibold
  font-style normal

.athelas-bold
  font-family 'Athelas'
  font-weight $bold
  font-style normal

.metropolis-medium
  font-family 'Metropolis'
  font-weight $medium
  font-style normal

.metropolis-regular
  font-family 'Metropolis'
  font-weight $regular
  font-style normal

.metropolis-semibold
  font-family 'Metropolis'
  font-weight $semibold
  font-style normal

// Font styles

.fs-giga
  color $mGrayLight
  font-size $fsGiga
  letter-spacing -0.2px
  line-height 74px
  opacity 0.36

.fs-mega
  color $mBlack
  font-size $fsMega
  letter-spacing -0.1px
  line-height 48px

.fs-kilo
  color $mBlack
  font-size $fsKilo
  letter-spacing 0.4px
  line-height 41px

.fs-h1
  color $mBlack
  font-size $fsH1
  letter-spacing 1.5px

.fs-h2
  color $mGray
  font-size $fsH2
  letter-spacing 0.4px

.fs-h3
  color $mBlackLight
  font-size $fsH5
  letter-spacing 0.1px

.fs-h3-gray
  color $mGray
  font-size $fsH5
  letter-spacing 2.8px
  line-height 17px
  text-transform uppercase

.fs-h3-footer
  color $mBlack
  font-size $fsH5
  letter-spacing 0.6px

.fs-h4
  color $mWhite
  font-size $fsH4
  letter-spacing 0.6px

.fs-h4-footer
  color $mBlack
  font-size $fsH4

.fs-h5
  color $mBlackStrong
  font-size $fsH5
  letter-spacing 0.6px

.fs-h6
  color $mBlack
  font-size $fsH6
  letter-spacing 0.1px

.fs-h6-footer
  color $mBlack
  font-size $fsH6
  letter-spacing 0.5px

.fs-milli
  color $mGrayLight
  font-size $fsMilli
  letter-spacing 0.1px
  line-height 14px

.fs-micro
  color $mGrayLight
  font-size $fsMicro
  letter-spacing 0.1px

@media screen and (max-width 768px)
  .fs-giga
    font-size $fsGigaM
    line-height 35px

  .fs-mega
    font-size $fsMegaM
    line-height 30px

  .fs-kilo
    font-size $fsKiloM
    line-height 30px

@media screen and (min-width 769px) and (max-width 940px)
  .fs-giga
    font-size $fsGigaT
    line-height 55px
