// COLORS
$errorColor = #ff3636
$successColor = #149a14

$mBlack = #353535
$mBlackLight = #4f4f4f
$mBlackStrong = #141414
$mBlue = #3177a2
$mBlueLight = #408ab7
$mGray = #bdbdbd
$mGrayLight = #a2a1a1
$mGrayStrong = #a2a1a1
$mWhite = #ffffff

// Base font-size
$baseFontSize = 16

//Font sizes

$fsGiga = remify(72px)
$fsMega = remify(35px)
$fsKilo = remify(30px)
$fsH1 = remify(17px)
$fsH2 = remify(16px)
$fsH3 = remify(15px)
$fsH4 = remify(14px)
$fsH5 = remify(13px)
$fsH6 = remify(12px)
$fsMilli = remify(11px)
$fsMicro = remify(9px)

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black